/*  body */
	
html {
    height: 100%;
}
	
	body {
		background-image: url("../images/riverfrontBackground.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center; 
		background-size:cover;
		background-color: black;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		overflow-x: hidden; /* Hide horizontal scrollbar */
	}

h2 {
	font-size: 1.6em;
	margin: 0;
}
	
/* unvisited link */
a:link {
  color: #4dd2ff;
}

/* visited link */
a:visited {
  color: #cc00ff;
}
	
	
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden;  
}

.innerover {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#loadicon {
	display: block;
	width: 40%;
	height: auto;
	text-align: center;
	margin: auto;
	margin-top: 40%;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 90vh;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-align: center;  
}


.screen .row {
  
}

.screen .row.header {
  flex: 0 0 auto;
  /* Shorthand for: flex-grow: 0, flex-shrink: 1, flex-basis: auto */
  background: rgba(0, 0, 0, 0.5);
  
}

.screen .row.frontpage {
  flex: 1 1 auto;
  /*background: rgba(0, 0, 0, 0.5); */
}

.screen .row.namebar {
  flex: 0 1 auto;
  background: rgba(0, 0, 0, 0.5);
}

.screen .row.buttonbar {
  flex: 0 1 auto;
}

.screen .row.albumpicker {
  flex: 0 1 auto;
}


.screen .row.content {
  flex: 1 1 auto;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
   overflow-x: hidden; /* Hide horizontal scrollbar */
}

.screen .row.content p {
	color: rgba(255, 255, 255, 1);
	
}

.screen .row.about {
  flex: 0 1 auto;
  
}

.screen .row.footer {
  flex: 0 0 auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: white;
  text-align: right;
  font-size: 0.7em;
}

.index {
  background-color: #ffffff; /* White */
  border: none;
  color: black;
  padding: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  width: 70%;
}

.input-container {
    display: flex;
    width: 80%;
	margin-left: auto;
	margin-right: auto;
    border: 1px solid #a9a9a9;
    justify-content: space-between;
}
.input-container input:focus, .input-container input:active {
    outline: none;
}
.input-container input {
    border: none;
	font-size: 1.5em;
	background-color: white;
}

.input-container .input-field {
	width: 100%;
}

table {
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	
}

col {
	
}

#sidecol {
	width: 27.5%; 
	padding: 10%;
}

#centercol {
	width: 45%;
}

#welcome {
	padding-top: 1%;
	margin: 0; 
	padding-bottom: 0;
}

#amdb {
	margin: 0; 
	padding: 0;
	font-size: 1.8em;
}
	
.btn-group {
    overflow: hidden;
    border: none;
    /*background-color: #514b50;
	color: rgba(81, 75, 80, 1);*/
}

.btn-group button {
    background-color: rgba(81, 75, 80, .9);
    float: left;
    outline: none;
	border: none;
    cursor: pointer;    
    transition: 0.3s;
	color: black;
    font-size: 1.3em;
	text-align: center;
	vertical-align: center;
	font-weight: bold;
	height: 35px;
	width: 33.33%
}

#btnalbums {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

#btninfoalbum {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

/* Change background color of buttons on hover */
.btn-group button:hover {
    background-color: rgba(140, 140, 140, .9);
}

/* Create an active/current tablink class */
.btn-group button:active {
   background-color: rgba(204, 204, 204, .9);
}

.btn-group button:focus {
   background-color: rgba(180, 180, 180, .9);
}


/*album picker iconds*/
#activeAlbum {
	max-width: 70%;
	height: auto;
	bottom:0;
}

#prevAlbumCover {
	width: 70%;
	height: auto;
	margin: 2%;
	margin-top:5%;
	margin-right: 10%;
}

#prevAlbumArrow {
	width: 70%;
	height: auto;
	margin: 2%;
	margin-right: 10%;
	/*float: left;*/
}

#nextAlbumCover {
	width: 70%;
	height: auto;
	margin: 2%;
	margin-top:5%;
	margin-left: 10%;
}

#nextAlbumArrow {
	width: 70%;
	height: auto;
	margin: 2%;
	margin-left: 10%;
	/*float: right;*/
}

#prevTrack {
	width: 70%;
	height: auto;
	margin: 2%;
	margin-top:5%;
	margin-right: 10%;
}

#prevTrackArrow {
	width: 70%;
	height: auto;
	margin: 2%;
	margin-right: 10%;
	float: left;
}

#nextTrack {
	width: 70%;
	height: auto;
	margin: 2%;
	margin-top:5%;
	margin-left: 10%;
}

#nextTrackArrow {
	width: 70%;
	height: auto;
	margin: 2%;
	margin-left: 10%;
	float: right;
}
/* end album picker icons */


#displayPaneImage {
	max-width: 100%;
	height: auto;
}

#displayPaneVidThumb {
	display: block;
	max-width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#albumtable {
	margin-left: 5%;
	margin-right: 5%;
}
#albumThumb {
	max-width: 80%;
	height: auto;
	float: left;
}

#displayPane {
	overflow: scroll;
}

#tracktable {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
	font-size: 1.2em;
	font-weight: bold;
	white-space: nowrap;
}

#tracknum {
	width: 10%;
}

#trackname {
	width: 75%;
}

#tracktime {
	width: 15%;
}

.ytcontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 90vh) {
	body {
		background-size: auto 100%;
	}
	div.screen {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	table {
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 90%;	
}
	
	
	#loadicon {
	display: block;
	width: 20%;
	height: auto;
	align-items: center;
	margin: 0 auto;
	}

	#sidecol {
	width: 38%; 
	padding: 5%;
	}
	#centercol {
		width: 24%;
	}

	
#activeAlbum {
	max-width: 70%;
	height: auto;
	bottom:0;
}

#prevAlbumCover {
	width: 35%;
	height: auto;
	margin: 2%;
	margin-top:5%;
	margin-right: 10%;
}

#prevAlbumArrow {
	width: 35%;
	height: auto;
	margin: 2%;
	margin-right: 10%;
	float: left;
}

#nextAlbumCover {
	width: 35%;
	height: auto;
	margin: 2%;
	margin-top:5%;
	margin-left: 10%;
}

#nextAlbumArrow {
	width: 35%;
	height: auto;
	margin: 2%;
	margin-left: 10%;
	float: right;
}

#prevTrack {
	width: 35%;
	height: auto;
	margin: 2%;
	margin-top:5%;
	margin-right: 10%;
}

#prevTrackArrow {
	width: 35%;
	height: auto;
	margin: 2%;
	margin-right: 10%;
	float: left;
}

#nextTrack {
	width: 35%;
	height: auto;
	margin: 2%;
	margin-top:5%;
	margin-left: 10%;
}

#nextTrackArrow {
	width: 35%;
	height: auto;
	margin: 2%;
	margin-left: 10%;
	float: right;
}
/* end album picker icons */
}

